
.body {
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    #aboutus h2 {
        margin-bottom: 25px;
    }
    
    .img-wrap {
        width: 100%;
        // height: 120%;
        padding : 50px 0;
    }
    
    .img-wrap img {
        height: 60vh;
        width: 80%;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0 0 10px #999999;
    }
    
    .abt h6 {
        font-family: 'Coda Caption', sans-serif;
        display: inline;
    }
    p{
        font-size: 1.6rem;
    }
    // .abt{
    //     margin-top: 5%;
    // }
}

