// .carthead{
//     margin: 30%;
// }

@media only screen and (max-width: 575px) {
    // .cartitems{ margin:0 2%;}
    td.tabletext,th.tabletext{
        font-size: 110%;
        // width:10%;
    }
   
}
@media (min-width:576px) and (max-width: 1800px) {
    .cartitems{ margin:0 10%;}
    td.tabletext,th.tabletext{
        font-size: 200%;  
        width:15%; 
    }
   
}

.cartsection{
    box-sizing: border-box;
    background-color: whitesmoke;
    min-height: 490px;
   
    .carthead{ 
        font-family: 'Bangers', cursive;
        margin-bottom: 3%;
    }
    .cartitems{
        background-color:white;
        border-radius: 12px;
        // margin: 0 8%; 
        padding:1% 0%;
        // height: 30px;
        border: rgba(0, 0, 0, 0.568) 2px solid;
        
    }
    button{
        outline: none;
    }
    .totalCost{
        padding: 1%;
       text-align: right; 
        font-weight: 600;
        margin-top: 1%;
    }
    .emptyCart{
        background-color: rgba(222, 184, 135, 0.5);
        border-radius: 50px;
        font-size: 120%;
    }
    .tableHead{  
        color: rgba(0, 0, 0, 0.24);
        font-family: 'Oleo Script', cursive;
        padding-bottom: 3%;
        border-bottom: rgba(0, 0, 0, 0.589) 6px solid;    
    }
    .clrselect{
        font-weight: 800;
          
    }
    .cost{
        font-weight: 900;
    }
    td.tabletext,th.tabletext{
        margin:10px 0% ;
        
        text-align: center;
        padding:0 1%;
    }
    .img{
        width:70%;
        // height: 50%;
        padding: 5% 0;
    }
    .cartcontent{
        border: black 1px solid;
        margin: 5%;
        box-shadow: 5px 5px 4px  rgba(0, 0, 0, 0.397) ;
        background-color: wheat;

    }
    .nomItems{
        color:blue;
        margin:2% 0;
        
    }
    .noItem{
        color: red;
        margin: 2% 0;
    }
    .icon{
        font-size: 70%;
        padding: 3%;
        border-radius:5px ;
    }
}



